.benefits {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: -64px;
    max-width: 1200px;
}

.benefit {
    background-color: var(--primary);
    width: 400px;
}

.secondary-bene {
    background-color: var(--secondary);
}

.benefit-content {
    min-height: 240px;
    padding: 1rem 1.25rem;
}