.benefits {
    margin-top: -64px;
    max-width: 1200px;
}

.benefit {
    background-color: var(--primary);
    width: 400px;
}

.accent-benefit {
    background-color: var(--secondary);
}

.benefit-content {
    box-sizing: border-box;
    min-height: 280px;
    padding: 1rem 1.25rem;
}