.blog-post {
    width: 360px;
}

.blog-post-content {
    box-sizing: border-box;
    background-color: #f4f4f2;
    min-height: 220px;
    padding: 1rem 1.25rem;
}

@include sm {
    .blog-post {
        margin: .5rem 0;
    }
}