.btn {
    background-color: var(--accent);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--white);
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    padding: 1.25rem 2.5rem;
    text-transform: uppercase;
    transition: 0.3s;
}

.btn-xs {
    font-size: .75rem;
    padding: .625rem 1rem;
}