.contact-section .columns {
    align-items: flex-start;
}

.contact-card {
    background-color: var(--secondary);
    height: 100%;
    margin: 1rem 0;
    padding: 2rem;
}

.contact-card img {
    margin: 0 auto 2rem auto;
}