.alert {
    color: var(--accent);
}

.form input,
.form textarea {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    width: 100%;

    @include sm {
        width: auto;
    }
}