.hero-slider {
    background: url('../images/hero-slider-1.jpg') center center/cover no-repeat;
    min-height: 80vh;
}

.slide {
    max-width: 690px;
}

.slides {
    align-items: center;
    display: flex;
    justify-content: space-between;
}