.promos-section {
    background: url(../images/water-dr-home.jpg);
}

.promos {
    margin: 0 auto;
    margin-bottom: 15%;
    max-width: 1200px;
    transform: translate(0, 30%);
}

.promos-hero {
    min-height: 500px;
}

.promos-hero .heading-2 {
    margin-bottom: 3rem;
}

.promo {
    box-sizing: border-box;
    min-height: 300px;
    padding: 3.75rem 1.25rem;
}

.promo-1 {
    background: url(../images/twisting-pipe.jpeg);
}

.promo-2 {
    background: url(../images/checking-wires.jpeg);
}

.promo-3 {
    background: url(../images/blue-drums.jpeg);
}