.promos-section {
    background-image: url(../images/water-dr-home.jpg);

    @include sm {
        background: none;
    }
}

.promos {
    margin: 0 auto;
    margin-bottom: 15%;
    max-width: 1200px;
    transform: translate(0, 30%);

    @include sm {
        margin-bottom: 0;
        transform: none;
    }

    & .heading-2 {
        @include sm {
            color: #252525;
        }
    }
}

.promos-hero {
    min-height: 500px;
}

.promos-hero .heading-2 {
    margin-bottom: 3rem;
}

.promo {
    background: center center/cover no-repeat;
    box-sizing: border-box;
    margin: auto;
    min-height: 320px;
    padding: 3.75rem 1.25rem;
    width: 80%;

    @include sm {
        margin: .5rem auto;
        width: 100%;
    }
}

.promo-1 {
    background-image: url(../images/twisting-pipe.jpeg);
}

.promo-2 {
    background-image: url(../images/checking-wires.jpeg);
}

.promo-3 {
    background-image: url(../images/blue-drums.jpeg);
}