.testimonial {
    max-width: 75%;
}

.testimonials {
    background: url('../images/truck-blue-overlay.jpg') center center/cover no-repeat;
    padding: 3.125rem;
}

.testimonials-slider {
    margin: 0 auto;
    max-width: 1200px;
}